<!DOCTYPE html>
<html lang="ko">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Moviebot</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/scrolling-nav.css" rel="stylesheet">

</head>
<style>
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
body {
    font-family: 'NanumSquare', sans-serif;
}
nav#mainNav{
  background-color: white;
  border: 10px solid orange;
  border-color: orange;
  color: orange;
}
nav#mainNav a{
  background-color: white;
  color: orange;
}
h1{
  color :orange;
}
*.navbar-toggler .navbar-toggler-icon{
  color: orange;
}
.logo {
    width: auto; height: auto;
    margin: 5px;
    margin-right: 20px;
    max-width: 100px;
    max-height: 100px;
}
.navbar-brand  {
  font-size: 2rem
}
.text-center{
  margin-top: 10px;
}
.navbar-toggler-icon {
  border-color:orange;
}

</style>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
      <img class = 'logo' src="https://hyeongbucket.s3.ap-northeast-2.amazonaws.com/artic/logo.png" float="left">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><b>MovieBot</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fa fa-navicon"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="auth/signin" >로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="auth/signup">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="main/MovieList">채팅창열기</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bgYellowDark4 text-white">
    <div class="container text-center text-orange">
      <h1 class="text-orange" align = "text-center">오늘 어떤 영화를 보고 싶으신가요?</h1>
    </div>
  </header>

  <section id="services" class="bg-light">
    <div class="container" text-align="center">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead">무비봇이 당신에게 꼭 맞는 영화를 <b>추천</b>해드립니다. <br>
              취향에 맞게 영화를 선택하고 정보를 알아보세요
              </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript --> //
  <script src="assets/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="assets/scrolling-nav.js"></script>

</body>
</html>
